body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh; /* Set height to 100% of the viewport height */
    background-color: #000;
    color: #00ff00;
}

#app {
    text-align: left;
    width: 100%; /* Adjusted width to 100% for a full-width terminal area */
    max-width: none; /* Removed max-width for responsiveness */
    margin: 0;
}

#terminal {
    background-color: #e5ddbf; /* Adjusted cream color to be a bit yellower (#e5ddbf) */
    padding: 20px;
    border: 10px solid #e5ddbf;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
    min-height: 80vh; /* Adjusted min-height for a larger terminal area */
}

#output {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    max-height: 300px;
    overflow-y: auto;
}

#input-container {
    display: flex;
    align-items: center;
}

#answer {
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #00ff00;
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    caret-color: #00ff00;
}

#answer::placeholder {
    color: transparent;
}
